/*navigation*/
nav *, #footer, nav .top-bar {
    background-color: #111114;
}
nav {
    filter: drop-shadow(9px 4px 9px #aaaaaa44);
    color: whitesmoke;
}

nav a, .nav a{
    color: whitesmoke!important;
}
nav a:hover, .nav a:hover{
    color: #d7a32d!important;
    text-decoration: none!important;
}

.top-bar-right{
    top: 50%;
    transform: translate(0%,50%);
    margin-right:50px;
}

.menu>li>a {
    padding: 0.7rem 1.3rem;
}
.top-bar ul {
    background-color: #111114;; 
}

/** back link */
div.nav{
    display: flex;
    justify-content: flex-end;
    padding:20px;
}
